.page-main {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(255, 247, 245);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .greeting {
        // border: 4px solid fuchsia;
        font-size: 20vw;
        color: yellow;
        position: relative;
        z-index: 0;

        > * {
            position: absolute;
            top: 0;
            left: 0;
            mix-blend-mode: color-dodge;
            z-index: 2;
        }

        > *:nth-child(1) {
            color: rgb(255, 0, 106);
            top: 1vw;
            left: 2vw;
        }

        > *:nth-child(2) {
            color: rgb(88, 1, 201);
            top: 1.4vw;
            left: 0.9vw;
        }

        > *:nth-child(3) {
            color: rgb(255, 255, 255);
            top: 0.2vw;
            left: 1.1vw;
        }
    }
}
