html {
    height: 100%;
    overflow-x: hidden;
}

::selection {
    /* background-color: rgb(255, 184, 47); */
    background-color: rgb(255, 161, 47);
    color: white;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    --box-shadow: 0 0 0.78125vw rgba(27, 64, 105, 0.2);
    /* --box-shadow: 0 0vw 1.65vw rgba(27, 63, 105, 0.068); */
    --border-radius: 0.3125vw;
    --mega-padding: 0vw 17vw;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

#root {
    position: relative;
    /* --topbar-height: 5.625vw; */
    height: 100%;
    --turquoise: #60ceae;
    --lilac-grey: #f1f3f9;
    --dark-grey: #76818f;
    --dark: #031735;
    --search-inputs: 6vh;
}

@keyframes pulse-alert {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-alert {
    animation: pulse-alert 0.5s ease-in-out;
}

@media (min-aspect-ratio: 16/7) {
}
